page-screenshot {
	.screenshot{
	background-color: rgba(245, 245, 245, 1);
	}
	ion-header {
		ion-icon{
			color: #ff5a41;
			font-size: 30px;
		}
	}
	.bottom_btn{
            border-radius:20px 20px 20px 20px;
            width:95%;
    }
    i{
    	margin-right:5px;
    }
}
